[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"RPi.GPIO" = {version = "*", markers="platform_machine == 'armv7l' and sys_platform == 'linux'"}
gphoto2 = {version = "*", markers="platform_machine == 'armv7l' and sys_platform == 'linux'"}
prompt-toolkit = {git = "https://github.com/watercrossing/python-prompt-toolkit.git", editable = true, ref = "better-progress-bars"}

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3"
